.movie-item{
    max-width: 250px;
}

.movie-list{
    margin-left: auto;
    margin-right: auto;
    max-width: 1050px;
}
.movie-list a {
    color: #FFF !important;
    text-decoration: none !important;
}
.movie-list a:hover {
    color: #b8b7b7 !important;
    text-decoration: none !important;
}

.movie-image-container{
    width: 234px;
    height: 360px;
}

.youtube-trailer{
    width: 560px;
    height: 315px;
    margin-right: auto;
    margin-left: auto;
}
.movie-overview{
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.movie-description{
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.movie-section{
    width: 850px;
    margin-right: auto;
    margin-left: auto;
}

.movie-holder{
    width: 234px;
    height: 360px;
}
.movie-block{
    position: absolute;
    width: 234px;
    height: 70px;
    top: 295px;
    background: rgba(0, 0, 0, 0.7);
    padding:20px;
    display:none;
}
.movie-holder:hover .movie-block{
    display:block;
}

.movie-image-cover{
    position: absolute;
    width: 234px;
    height: 295px;
    background: rgba(0, 0, 0, 0.3);
    display:none;
}
.movie-holder:hover .movie-image-cover{
    display:block;
}
.movie-item__info{
    max-width: 234px;
}
.page-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1050px;
    height: 60px;
}
.prev-page-container{
    float: left;
}
.next-page-container{
    float: right;
}
.movie-item__image{
    width: 234px;
    height: 360px;
}