.rating{
    display: flex;
    align-items: flex-end;
    font-size: 80px;
    line-height: 0.75;
}
.rating.rating_set .rating__active,
.rating.rating_set .rating__item{
    cursor: pointer;
}
.rating__body{
    position: relative;
}
.rating__body::before{
    content: "\2605\2605\2605\2605\2605\2605\2605\2605\2605\2605";
    display: block;
}
.rating__active{
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.rating__active::before{
    content: "\2605\2605\2605\2605\2605\2605\2605\2605\2605\2605";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: yellow;
}
.rating__items{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.rating__item{
    flex: 0 0 10%;
    height: 100%;
    opacity: 0;
}
.rating__value{
    font-size: 50%;
    line-height: 1;
    padding: 0px 0px 0px 10px;
}