<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>MovieStar</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/jsp/error/error403.jsp</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/error/error404.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/jsp/error/error500.jsp</location>
    </error-page>
    <!--   FILTERS   -->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>by.belotskiy.movie_star.controller.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>by.belotskiy.movie_star.controller.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>PermissionFilter</filter-name>
        <filter-class>by.belotskiy.movie_star.controller.filter.PermissionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PermissionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>XssEscapeFilter</filter-name>
        <filter-class>by.belotskiy.movie_star.controller.filter.XssEscapeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>XssEscapeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>ErrorMessageFilter</filter-name>
        <filter-class>by.belotskiy.movie_star.controller.filter.MessageFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ErrorMessageFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>LocaleFilter</filter-name>
        <filter-class>by.belotskiy.movie_star.controller.filter.LocaleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>ReturnUrlFilter</filter-name>
        <filter-class>by.belotskiy.movie_star.controller.filter.ReturnUrlFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ReturnUrlFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>by.belotskiy.movie_star.controller.listener.SessionListener</listener-class>
    </listener>

    <listener>
        <listener-class>by.belotskiy.movie_star.controller.listener.ConnectionPoolListener</listener-class>
    </listener>
    <jsp-config>
        <taglib>
            <taglib-uri>custom_tags</taglib-uri>
            <taglib-location>/WEB-INF/tld/custom.tld</taglib-location>
        </taglib>
    </jsp-config>

    <session-config>
        <session-timeout>180</session-timeout>
    </session-config>
</web-app>